@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic:wght@700&family=Neonderthaw&family=Poppins:wght@200&family=The+Nautigal&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

.main-container{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background:linear-gradient(90deg, rgba(255, 255, 0, 1) 0%, rgba(0, 188, 212, 1) 50%, rgba(238, 130, 238, 1) 100%);
    padding-bottom: 5rem;
}

.banner{
    width: 100%;
    height: 3vh;
    background-color: rgba(20, 19, 19, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    font-family: 'Gentium Basic', serif;
    color:rgb(198, 201, 207)
}


.main-menu{
    width: 100%;
    height: 8vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15rem;
    position: sticky;
    top:0;
    z-index:100;
    background-color: rgb(39, 39, 48,.8);
}

.logo h1 a{
    text-decoration: none;
    color: rgb(198, 201, 207);
}
.main-menu ul{
    list-style: none;
    margin:0;
    padding: 0;
    /* margin-top: 1rem; */
}

.main-menu ul li{
    display: inline-block;
    margin: 0 1em;
    font-weight: bolder;
}

.main-menu ul li a{
    text-decoration: none;
    color: rgb(218, 198, 198);
}

.main-area{
    width: 100%;
    height: 89vh;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    /* border: 1px solid black; */
}

.top-block{   
    width: 70%;
    height: 80%;
    display: flex;
    /* border: 1px solid yellow; */
}


.main-area-text{
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    /* background-color: crimson; */
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    /* padding-left: 8rem; */
    text-align: center !important;
}

.main-area-text h1{
    font-size: 5rem;    
}

.main-area-text h5{
    margin-bottom: 1rem;   
}

.main-area-text h3{
    font-size: 2rem;  
    font-family: 'Gentium Basic', serif;
    margin:1rem 0;
}

.main-area-text h2{
    font-size: 4rem;  
    font-weight: bolder;  
    font-family: 'The Nautigal', cursive;
    margin:1rem 0;

}

.main-area-text h4{
    font-size: 1rem;
    margin-top: 1.5rem;
}

.main-area-image{
    width: 50%;
    height: 100%;
    outline: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-area-image img{
    width: 100%;
    height: 80%;
    /* border: 1px solid black; */
    margin-top: 4rem;
}

.social-media{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    /* border: 1px solid black; */
}

.social-media .social-links{
    width: 10rem;
    height: 10rem;
    margin-left: -5rem;
}


.page-2{
    width: 100%;
    height: auto;
    background:linear-gradient(90deg, rgba(255, 255, 0, 1) 0%, rgba(0, 188, 212, 1) 50%, rgba(238, 130, 238, 1) 100%);
    padding: 0 15rem;   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10rem;
}

.page-2 h1{
    height: 8%;
    display: flex;
    align-items: center; 
    padding-top: 2rem;
    margin-bottom: 2%;
}

.display-items{
    width: 100%;
    height: 42vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid black; */
    margin: 1.5rem 0;
   
}

.display-items a{
    width: 30%;
    height: 100%;
    text-decoration: none;
    color:rgb(70, 57, 57);
    font-weight: bold;
}

.display-items a:hover{
    color: black;
}

.display-items img{
    height: 70%;
}

.display-items .card-body{
    background-color: rgb(198, 201, 207);
    height: 30%;
}

.display-items .card{
    height: 100% !important;
    width: 100%;
    border: 1px solid black;
}

/* *********************************************  Media Queries  ************************************************************************ */

@media only screen and (max-width: 450px) {
    .main-menu{
        width: 100vw;
        height: 8vh;
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-menu ul{
        list-style: none;
        padding:0;
        margin:0;
      }    

    .logo h1{
        font-size: 1rem;
        padding:0;
        margin:0;
    }

   
    .main-menu ul li{
        display: inline-block;
        margin: 0 .5em;
        font-weight: bolder;
        font-size: .6rem;
    }
    
    .main-menu ul li a{
        text-decoration: none;
        color: rgb(198, 201, 207);
        }

    .main-area{
        width: 100vw;
        height: 89vh;
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
        padding:0;
        padding-top: 2rem;
    }

    .top-block{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height:80%;
    }
  
    .main-area-text{
        width: 100%;
        height: 50%;
        outline: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        padding: 0  1rem;
        text-align: center !important;
        /* border: 1px solid black; */
    }

    .main-area-text h1{
        font-size: 2.5rem;   
    }

    .main-area-text h3{
        font-size: 1.5rem;  
        font-family: 'Gentium Basic', serif;
    }
    
    .main-area-text h2{
        font-size: 2.5rem;  
        font-weight: bolder;  
        font-family: 'The Nautigal', cursive;    
    }
    
    .main-area-text h4{
        font-size: .8rem;
        margin-top: 1.5rem;
        font-weight: bolder;
    }

    .main-area-image{
        width: 100%;
        height: 50%;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;        
    }
    
    .main-area-image img{
        width: 80%;
        height: 80%;
    }

    .social-media{
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
  
  .social-media .social-links{
      width: 4rem;
      height: 4rem;
      margin-left: 0;
  }
  

    .page-2{
        width: 100vw;
        height: auto;
        display: flex;
        padding: 0;
    }

    .display-items{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        /* border: 2px solid red; */
        margin: .5rem 0;
    }


    .display-items a{
        width: 80%;
        height: 100%;
        text-decoration: none;
        color:rgb(70, 57, 57);
        font-weight: bold;
        margin: .5rem 0;
    }
}


@media only screen and (max-width: 390px){
    .main-area{
        margin-top: 4rem;
    }

    .main-menu ul li{
        display: inline-block;
        margin: 0 .3em;
        font-weight: bolder;
        font-size: .5rem;
    }
}